* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1d1d1d;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1d1d;
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 4px;
}
.container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px;
}
.container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  background: rgb(1, 10, 14);
  width: 100vw;
  max-width: 767px;
  border-radius: 16px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
fieldset {
  border-radius: 6px;
  background: rgb(221, 221, 221);
  border: 0;
  max-width: 300px;
  position: relative;
  padding: 5px 8px 5px;
}
fieldset p {
  margin: 0;
  max-width: 300px;
  word-break: break-all;
}
.message-cont {
  margin: 65px 5px 60px;
}
fieldset legend {
  text-align: right;
  padding: 3px 10px;
  background: #1d1d1d;
  color: #fff;
  border-radius: 6px;
  font-size: 12px;
}
.message {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px 0;
}
.message.my {
  justify-content: flex-end;
}
.message legend {
  text-align: left;
}
.message.my legend {
  text-align: right;
}
.message.my .time {
  color: rgb(192, 192, 192);
}
.message.my fieldset {
  background: #3a3a3a;
  color: #fff;
  border: 0;
}
.msg form {
  text-align: center;
  display: flex;
  z-index: 11;
  height: 60px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input,
textarea {
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  font-size: 16px;
  padding: 10px;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 767px;
}
textarea {
  padding-right: 40px;
}
textarea::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.login {
  text-align: center;
}
.login input {
  margin: 5px 0;
  border-radius: 6px;
}
.login button {
  border: 1px solid #1d1d1d;
  border-radius: 6px;
  margin: 5px 0;
  outline: 0;
  width: 320px;
  resize: none;
  font-size: 16px;
  background: #3a3a3a;
  padding: 10px;
}
.login .link {
  padding: 5px 10px;
}
.login h2 {
  text-align: center;
}
.login .link a {
  margin-left: 10px;
  font-weight: 600;
}
.tologin {
  margin-top: 30px;
  color: #fff;
}
.tologin .btn {
  margin-left: 10px;
  background: #3a3a3a;
}
button.send {
  padding: 5px 10px;
  border-radius: 16px;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
textarea::placeholder {
  font-size: 15px;
  font-family: sans-serif;
  color: #444;
}
.top {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 11px;
  height: 60px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #1d1d1d;
  color: #fff;
}
.top button {
  background: #fff;
  font-size: 16px;
  color: #1d1d1d;
  border-radius: 4px;
}
.logo {
  font-weight: 600;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
button,
.btn {
  padding: 5px 10px;
  background: #1d1d1d;
  color: #fff;
  border: 1px solid #1d1d1d;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.time {
  bottom: 0;
  right: 0;
  color: #555;
  font-size: 10px;
  display: block;
  text-align: right;
}
button,
textarea {
  font-family: sans-serif;
}
